<div class='container'>
	<h2>Mit einem Blick zum perfekten Powder</h2>
        
    <p class='about-description'>
            FreizeitTicket.info zeigt euch die Webcams aller Freizeitticket-Skigebiete auf nur einen Blick. Die Zeiten vom Durchklicken der einzelnen Homepages sind vorbei, hier seht ihr sofort wo die Bedingungen am besten sind – inklusive aktueller Neuschnee- und Lawinenberichte.<br> Die jeweilige Lawinenwarnstufe scheint schon auf der Überblicksseite direkt beim Skigebiet auf. Daneben findet ihr das Schneeflocken-Icon. Das zeigt an, wo wieviel Neuschnee gefallen ist und wann der letzte Schneefall war.<br> Diese Info holen wir top-aktuell direkt aus den Social Media Kanälen der Skigebiete oder deren Homepage. Das Skigebiet mit dem meisten Neuschnee listet FreizeitTicket.info ganz zu Beginn - damit ihr die ersten im perfekten Powder seid!
	</p>        
	<p>
		<a class="btn btn-lg btn-primary" href="mailto:info@freizeitticket.info" role="button">Contact us</a>
	</p>
</div>