// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-description{
	font-size:14px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    color: #fff;
    background-color: #717769;
    border-color: #ffffff;
}
.btn-primary:hover {
   background-color: #717769;
   opacity: 0.9;
   filter: alpha(opacity=90); /* For IE8 and earlier */
}