// Place all the styles related to the Skiresort controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.skiresort_container{
	position: relative;

	.webcam_image{
		height: 100%;
		width: 100%;
	}

	.overlay{
		position:absolute;
		height:55px;
		bottom: 0px;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		color: white;
	}

	.description{
		padding: 5px 5px 5px 5px;
		font-family: 'Source Sans Pro', sans-serif;
   		font-weight: 300;
	}

	.skiresort_name{
		font-weight: bold;
		font-size: 15px;

	}

	.webcam_name{
		font-size: 15px;	
	}

	.overlay-icon{
		height: 65%;
		position:relative;
	    top: 0px;
	    right: 0px;
	    padding: 5px 5px 5px 5px;
		.icon {
			height: 100%;
			text-align: center;
		}
		.text{
			text-align: center;
			font-size: 12px;
		}

	}

}